<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/result.css" />
  </head>
  <body>
    <h1><span><%=name%></span> 마이페이지</h1>
    <div><img src="/<%=img%>" alt="프로필사진" /></div>
    <p>
      <span>아이디</span>
      <span> <%=email%></span>
    </p>
    <p>
      <span>비밀번호</span>
      <span> <%=password%></span>
    </p>
    <p>
      <span>이름</span>
      <span> <%=name%></span>
    </p>
    <p>
      <span>나이</span>
      <span> <%=age%></span>
    </p>
  </body>
</html>
